* {
    font-family: sans-serif;
    box-sizing: border-box;
  }

  body {
    line-height: 1.6;
    margin: 0;
    height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 900px) 1fr;
  height: calc(100vh - 200px)
}

.side {
    margin-left: 5px;
    margin-right: 5px;
    background-color: gray;
    border-radius: 15px;
    flex-direction: row;
    height: 99%;
}

.content {
  padding: 2rem;
  text-align: center;
}

.post{
    background-color: rgb(241, 241, 241);
        border-radius: 15px;
    margin-bottom: 15px;
}

.postheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postpic{
    margin-top: 5px;
    margin-left: 15px;
}

.postbody{
    margin-left: 25px;
    text-align: left;
}

.postfooter{
    margin-left: 5px;
    text-align: left;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }

a {
    text-decoration: none;
    }

.logo {
    padding-right: 15px;
    margin: 0;
    font-size: 0em;
      }

.header {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 6px;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: gray;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav {
    padding-left: 35px;
    margin-top: 5px;
    display: flex;
     }

.nav a {
    padding: 1px;
    color: #000000;
    font-size: 1.5em;
       }

.footer {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 4.5em;
    background-color: gray;
    border-radius: 15px;
    flex-direction: row;
}