* {
    font-family: sans-serif;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    line-height: 1.6;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    background-color: #252525;
}

.main {
  flex: 1;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr minmax(100px, 900px) 1fr;
}

.side{
  flex: 1;
  min-width: 100px;
  color: white;
  padding: 1rem;
}

.content {
  flex: 3;  
  background-color: #111111;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  margin: 2rem 0;
  text-align: center;
}

.post {
  background-color: #111111;
  border: 3px solid #ff3333;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post + .post {
  margin-top: 2rem;
}

.post:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.postheader {
    background-color: #252525;
    border-radius: 12px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.postheader p{
    margin-right: 0.5rem;
}

#profile-pic-on-post{
    margin-left: 0.5rem;
}

.postbody{
    margin-left: 1.5rem;
    text-align: left;
}

.postfooter{
    margin-left: 0.5rem;
    text-align: left;
}

.profilepic img {
  height: 50px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #252525;
  border-bottom: 3px solid #ff3333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 2em;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  
}

.nav li:not(:last-child)::after {
  content: "|";
  margin-left: 1rem;
  color: #ff3333;
}

.nav {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav > li > a {
  text-transform: uppercase;
  color: #ff3333;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav a:hover {
  color: #ff6666;
  border-bottom: 2px solid #ff3333;
  text-shadow: 0 0 6px rgba(255, 51, 51, 0.6);
}

.nav li.home ~ li a {
  background-color: rgb(27, 27, 27);
}


.footer {
  position: relative;
  width: 100%;
  background-color: #252525;
  border-top: 3px solid #ff3333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 2em;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3); 
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  
  .side, .content {
    width: 90%;
    margin-bottom: 1rem;
  }
}